<div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ nombre }}</h5>
        <ul>
            <li class="card-text">Genero: {{ genero }}</li>
            <li>Año: {{ anio }}</li>
            <li>Autor: {{ autor }}</li>
        </ul>
      </div>
    </div>
</div>