<div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ this.nombre }}</h5>
        <ul>
            <li class="card-text">Genero: {{ this.genero }}</li>
            <li>Año: {{ this.anio }}</li>
            <li>Autor: {{ this.autor }}</li>
        </ul>
      </div>
    </div>
</div>