<nav class='navbar sticky-top navbar-expand-lg' style="background-color: #80c0b1;">
   <div class='container'>
      <a class='navbar-brand' href='/'>
         <i class="bi bi-body-text"></i> API CRUD
         <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
         </button>
         <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
               <li class='nav-item'>
                  <a class='nav-link active' aria-current='page' href='/add'><i class="bi bi-file-earmark-plus"></i> Crear Anime</a>
               </li>
            </ul>
            <form class='d-flex' role='search' action="/search" method="get">
               <input name="searchTerm" class='form-control me-2' type='search' placeholder='Buscar' aria-label='Search' required />
               <button class='btn btn-outline-success' type='submit'>Buscar</button>
            </form>
         </div>
   </div>
</nav>